<form #templateForm="ngForm" (ngSubmit)="agregarAlumno()">
  <ion-item>
    <ion-label position="floating">Nombre del alumno</ion-label>
    <ion-input type="text" [(ngModel)]="nuevoAlumno.Nombre" name="Nombre" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="nuevoAlumno.Presente" name="Presente" required>Presente</ion-checkbox>
  </ion-item>
  <ion-button type="submit">Agregar</ion-button>
</form>
  
  <ion-list>
    <ion-item-sliding *ngFor="let alumno of alumnos">
      <ion-item-options side="start">
        <ion-item-option color="success">Favorito</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>{{alumno}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" id="{{alumno}}-eliminar">Eliminar</ion-item-option>
      </ion-item-options>
      
      <ion-action-sheet trigger="{{alumno}}-eliminar" header="Eliminar a {{alumno}}?" [buttons]="actionSheetButtons"></ion-action-sheet>
    </ion-item-sliding>
  </ion-list>

  
