
.Contenido{
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
}

@media screen {
   .Contenido{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    bottom: 20%;

   }
   input{
    background-color: #D9D9D9;
    border-radius: 20px;
    font-size: large;
   }
   button{
    background: #620D4F;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 20px;
   width: 200px;
}
}

