
.Contenido{
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
}

@media screen and (max-width: 600px) {
   ion-grid {
  --ion-grid-columns: 1;
}

}

ion-col {
 border: solid black 1px;
 padding: 1px;
 background-color: crimson;
}